.wrap{
	margin-top: 30px;
	perspective: 1000px;
	perspective-origin: 120% 120%;
}
.cube {
	margin: auto;
	position: relative;
	height: 130px;
	width: 130px;
	transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-transition: transform 1s;
	-ms-transition: transform 1s;
}
.cube div {
	position: absolute;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	border: solid 1px #eeeeee;
	color: #ffffff;
}
.front {
	transform: translateZ(65px);
	-ms-transform: translateZ(65px);
	-webkit-transform: translateZ(65px);
	background-color:rgba(0, 0, 0, 0.87);
	background-size:100%;
}

.back {
	transform: translateZ(-65px) rotateY(180deg);
	-webkit-transform: translateZ(-65px) rotateY(180deg);
	-ms-transform: translateZ(-65px) rotateY(180deg);
	background-color:rgba(0, 0, 0, 0.87);
	background-size:100%;
}

.right {
	transform: rotateY(-270deg) translateX(65px);
	-ms-transform: rotateY(-270deg) translateX(65px);
	-webkit-transform: rotateY(-270deg) translateX(65px);
	transform-origin: top right;
	-ms-transform-origin: top right;
	-webkit-transform-origin: top right;
	background-color:rgba(0, 0, 0, 0.87);
	background-size:100%;
}

.left {
	transform: rotateY(270deg) translateX(-65px);
	-webkit-transform: rotateY(270deg) translateX(-65px);
	-ms-transform: rotateY(270deg) translateX(-65px);
	transform-origin: center left;
	-ms-transform-origin: center left;
	-webkit-transform-origin: center left;
	background-color:rgba(0, 0, 0, 0.87);
	background-size:100%;
}

.top {
	transform: rotateX(-270deg) translateY(-65px);
	-webkit-transform: rotateX(-270deg) translateY(-65px);
	-ms-transform: rotateX(-270deg) translateY(-65px);
	transform-origin: top center;
	-ms-transform-origin: top center;
	-webkit-transform-origin: top center;
	background-color: rgba(0, 0, 0, 0.87);
	background-size:100%;
}

.bottom {
	transform: rotateX(270deg) translateY(65px);
	-webkit-transform: rotateX(270deg) translateY(65px);
	-ms-transform: rotateX(270deg) translateY(65px);
	transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	background-color:rgba(0, 0, 0, 0.87);
	background-size:100%;
}

#rBack:checked ~ .wrap .cube {
  	transform: rotateY(180deg); 
}

#rLeft:checked ~ .wrap .cube {
  	transform: rotateY(90deg); 
} 

#rRight:checked ~ .wrap .cube {
  	transform: rotateY(-90deg); 
}

#rTop:checked ~ .wrap .cube {
  	transform: rotateX(-90deg); 
}

#rBottom:checked ~ .wrap .cube {
  	transform: rotateX(90deg); 
}

.cubeContainer {
	width:20%;margin:0 auto 20 auto;
}